{% extends "WecampPlusplusBundle:Shared:base.html.twig" %}

{% block title %}WecampPlusplusBundle:List:list{% endblock %}


{% block body %}
<ul class="list-group">
    {% for subject in subjects %}
    <li class="subject list-group-item" data-subject-id="{{ subject.id }}">
        <span class="badge pull-right">{{ subject.plusones|length }}</span>
        {{ subject.name }}
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script>
    (function() {
        'use strict';

        $(document).on(
                'ready',
                function() {
                    $('li.subject').on('click', function (){ labelClicked($(this)) });
                }
        );

        function labelClicked(subjectListItem) {
            console.log(subjectListItem);
            var subjectId = subjectListItem.attr('data-subject-id');
            geoFindMe(addPlusOne, subjectId, subjectListItem);
        }

        var latitude = null;
        var longitude = null;

        function addPlusOne(subjectid, longitude, latitude, subjectListItem) {

            $.ajax(
                '{{ path('_plusOneSubject') }}',
                {
                    type: 'POST',
                    data: {
                        subjectId: subjectid,
                        longitude: longitude,
                        latitude: latitude
                    }
                }
            ).done(function() {
                //subject is the subject id
                var badge = subjectListItem.find('.badge');
                var subjectCount = parseInt( badge.text() );
                badge.text(subjectCount+1);
            });
        }

        function geoFindMe(addPlus, subjectid, subjectListItem) {

            if (!navigator.geolocation){
                error();
                return;
            }

            function success(position) {
                latitude  = position.coords.latitude;
                longitude = position.coords.longitude;
                addPlus(subjectid,latitude,longitude, subjectListItem);
                console.log(position);
            };

            function error() {
                addPlus(subjectid, null, null);
            };

            navigator.geolocation.getCurrentPosition(success, error);
        }
    })();
    </script>
{% endblock %}