{% extends "WecampPlusplusBundle:Shared:base.html.twig" %}

{% block title %}Plus one everything!{% endblock %}


{% block body %}
{% for letterGroup, subjectGroup in subjects %}

<ul class="list-group" style="margin-top:10px;">
    <li class="list-group-item list-group-item-info">{{ letterGroup }}</li>
    {% for subject in subjectGroup %}
    <li class="bobs-list-item subject list-group-item" data-subject-id="{{ subject.id }}">
        <div class="progress progress-striped bobs-super-duper-progress-bar">
            <div class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="internal-bob-list-item" style="">
        <span class="badge pull-right">{{ subject.plusones|length }}</span>
        {{ subject.name }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
    <ul class="list-group" style="margin-top:10px;">
        <li class="list-group-item list-group-item-info">Subject Missing?</li>
        <li class="list-group-item">
        {{ form(form) }}
        </li>
    </ul>
{% endblock %}

{% block javascript %}

    <script>
        (function() {
            'use strict';

            var nameElem = $('#name');
            var submitElem = $('#submit');

            $(document).on(
                    'ready',
                    function() {
                        submitElem.on('click', submitClicked);
                    }
            );

            function addSubject(name) {

                $.ajax(
                        '{{ path('_createSubject') }}',
                        {
                            type: 'POST',
                            data: {
                                name: name
                            },
                            success: function(parameters) {
                                location.reload();
                            }
                        }
                );
            }

            function submitClicked(e) {
                var name = nameElem.val();
                if (name != '' ) {
                    $('#submit').addClass('disabled');
                    addSubject(nameElem.val());
                    e.preventDefault();
                }
            }
        })();
    (function() {
        'use strict';

        $(document).on(
                'ready',    
                function() {
                    $('li.subject').on('click', function (){ labelClicked($(this)) });
                }
        );

        function labelClicked(subjectListItem) {
            subjectListItem.find('.bobs-super-duper-progress-bar').addClass('bar');
            setTimeout(function() {
                subjectListItem.find('.bobs-super-duper-progress-bar').removeClass('bar');
            }, 8000);
            var subjectId = subjectListItem.attr('data-subject-id');
            geoFindMe(addPlusOne, subjectId, subjectListItem);
        }

        var latitude = null;
        var longitude = null;

        function addPlusOne(subjectid, longitude, latitude, subjectListItem) {

            $.ajax(
                '{{ path('_plusOneSubject') }}',
                {
                    type: 'POST',
                    data: {
                        subjectId: subjectid,
                        longitude: longitude,
                        latitude: latitude
                    }
                }
            ).done(function() {
                //subject is the subject id
                var badge = subjectListItem.find('.badge');
                var subjectCount = parseInt( badge.text() );
                badge.text(subjectCount+1);
            });
        }

        function geoFindMe(addPlus, subjectid, subjectListItem) {

            if (!navigator.geolocation){
                error();
                return;
            }

            function success(position) {
                latitude  = position.coords.latitude;
                longitude = position.coords.longitude;
                addPlus(subjectid,latitude,longitude, subjectListItem);
                console.log(position);
            };

            function error() {
                addPlus(subjectid, null, null);
            };

            navigator.geolocation.getCurrentPosition(success, error);
        }
    })();
    </script>
{% endblock %}